.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 6rem;
}

.links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	margin-right: 2rem;
}

.logo img {
	width: 62.56px;
	height: 16.02px;
}

.container {
	display: flex;
	flex-direction: row;
}

.signup {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.container p,
.signup p,
.menu_container p {
	color: #fff;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 1rem;
	cursor: pointer;
}

.menu_container button,
.signup button {
	padding: 0.5rem 1rem;
	color: #fff;
	background: #ff4820;
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}

.menu {
	margin-left: 1rem;
	display: none;
	position: relative;
}

.menu a {
}

.menu svg {
	cursor: pointer;
}

.menu_container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	text-align: end;
	background: var(--color-footer);
	padding: 2rem;
	position: absolute;
	top: 40px;
	right: 0;
	margin-top: 1rem;
	min-width: 210px;
	border-radius: 5px;
	box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.menu_container p {
	margin: 1rem 0;
}

.mobile_signup {
	display: none;
}

@media screen and (max-width: 1050px) {
	.container {
		display: none;
	}

	.menu {
		display: flex;
	}
}

@media screen and (max-width: 700px) {
	.navbar {
		padding: 2rem 4rem;
	}
}

@media screen and (max-width: 550px) {
	.navbar {
		padding: 2rem;
	}

	.signup {
		display: none;
	}

	.menu_container {
		top: 20px;
	}

	.mobile_signup {
		display: block;
	}
}

.scale_up_center {
	-webkit-animation: scale_up_center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale_up_center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale_up_center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale_up_center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
